$primary:#326128;
$danger: red;
$secondary: #689c5d;
$a-tags: 'a, a:active, a:hover, a:visited';

#{$a-tags} {
  color: $secondary;
  text-decoration: underline;
}

.c1 {
  color: $secondary;
  background-color: #fffffc;
}

@import "~bootstrap/scss/bootstrap";
